# Arbitrary Arguments

In [1]:
def car(model, make, *specs):
    print(model, make)
    print(specs)

In [3]:
car(2010, "toyota corolla", 'alloyrims', 'power staring', 'power window')

2010 toyota corolla
('alloyrims', 'power staring', 'power window')

In [4]:
car(2010, "toyota corolla", 'alloyrims')

2010 toyota corolla
('alloyrims',)

In [6]:
def friend(name, dob, *specs):
    print(name,dob)
    print(specs)

In [9]:
friend('sameer', 1989, 'faltu admi')

sameer 1989
('faltu admi',)

In [13]:
def order(product, orderFulfillmentMethod, *details):
    print(product)
    print(orderFulfillmentMethod)
    print(details)

In [14]:
order('mobile', 'COD', ['price', 'color', 'units'])

mobile
COD
(['price', 'color', 'units'],)

In [21]:
def pizza(name, size, bill, *toppings):
    print(f'Your Pizza is {name}, with size {size} with topping {toppings} and your bill is {bill}');

In [22]:
pizza('chiken tikka', 'large', '$10', ['Mashrooms', 'Olives', 'PineApple'])

Your Pizza is chiken tikka, with size large with topping (['Mashrooms', 'Olives', 'PineApple'],) and your bill is $10

In [27]:
def pizza(name, size, bill, *toppings):
    print(f'Your Pizza is {name}, with size {size} with topping')
    for topping in toppings:
        print(topping);
    print(f'and your bill is {bill}');

In [29]:
pizza('chikken tikka', 'Large', "$10", ['cheesy', 'Olives', 'PineApple'])

Your Pizza is chikken tikka, with size Large with topping
['cheesy', 'Olives', 'PineApple']
and your bill is $10

In [36]:
def person(fname, lname, **about):
    print(f'{fname} {lname}')
    print(about)
    print(f'Age = {about["age"]} and Address is {about["address"]}')

In [37]:
person('usman', 'aqil', age=30, address='Karachi')

usman aqil
{'age': 30, 'address': 'Karachi'}
Age = 30 and Address is Karachi

# Functions as Variables

In [38]:
def sum():
    x = 4 + 9
    return x;

In [39]:
def diff():
    y = 29 - 9
    return y

In [40]:
answer = sum() + diff()
print(answer)

33

In [45]:
def salary(basic, commission):
    print(f"your salary is:{basic + commission}")

In [46]:
def commisionCalculator(sales):
    if (sales>=100000):
        percentage =30
    elif (sales >= 50000):
        percentage = 20;
    elif (sales >= 30000):
        percentage = 10;
    elif (sales >= 10000):
        percentage = 5
    else:
        percentage = 0
    commission = sales/100*percentage
    return commission

In [48]:
salary(basic = 25000, commission = commisionCalculator(20000))

your salary is:26000.0

In [49]:
salary(25000, commisionCalculator(20000))

your salary is:26000.0