In [1]:
print("Hello World")

Hello World

In [2]:
print("123")

123

In [3]:
print("Hello Areeba" , 420)

Hello Areeba 420

In [4]:
print("number integer ya float hnge")

number integer ya float hnge

In [18]:
print("1" + "1.32")

11.32

In [14]:
type(121.3)

float

In [25]:
name ="Muhammad Usman"

In [26]:
print(name);

Muhammad Usman

In [30]:
print(1 > 2)

False

In [26]:
type(true)

NameError: name 'true' is not defined

In [13]:
numInt = 5

In [15]:
numFloat = 5.4

In [16]:
string = "Hello World"

In [18]:
print(numInt , numFloat, string , sep=",");

5,5.4,Hello World

In [37]:
print(34 + 13)

47

In [42]:
print("Hello World " + "123")

Hello World 123

In [43]:
num1  = 321

In [44]:
num2 = 312

In [45]:
num1 + num2

633

In [46]:
num1 += 11

In [7]:
num1 = 21

In [48]:
del = 22

SyntaxError: invalid syntax (<ipython-input-48-2b96632acb03>, line 1)

In [9]:
 print("11" + num1)

TypeError: can only concatenate str (not "int") to str

In [19]:
print(1 + 5.342)

6.342