# Chapter 1

In [2]:
print("Hello World")

Hello World

In [7]:
print("hi", "world")

hi world

In [16]:
name = "Usman"
print("Hi "+ name)

Hi Usman

# Chapter 2

In [25]:
string = "string"
num = 21313

print(string, num)

string 21313

In [27]:
print('Hi' * 29)

HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHi

In [32]:
print("uppercase".upper())

UPPERCASE

In [34]:
a = "hello"

In [39]:
a.find("h")

0

In [41]:
print(a[1])

e

In [43]:
name = "My name is Usman"

In [46]:
name = name.replace("Usman", "Hammad")

print(name)

My name is Hammad

In [51]:
print(name.center(100, "-"))

-----------------------------------------My name is Hammad------------------------------------------

In [57]:
name.count("")

18

In [59]:
name.index("is")

8

In [65]:
print(name,"hello", sep="-", end=".")

My name is Hammad-hello.

In [67]:
print("HELLO".casefold() == "hello")

True

In [74]:
"hello".casefold() == "HELLO"

False

In [75]:
print("HELLO".casefold())

hello

In [81]:
name = "Usman"
roll_number = 112

print("{0} {1}".format(name,roll_number))
print(f"{name}")
# r string print escape sequence
print(r"\n")
print("\n")

Usman 112
Usman


\n